block content
  a.btn.btn-default(href='/') 返回首頁
  hr
  table#table-1(border="0")
    tr
      th 地址
      th 端口
      th 通信
    each val in json
      tr
        td 
          span.b #{val.local}
          br
          span.mini #{val.dst}
        td
          | #{val.sport}
          | <br/> #{val.dport}
        td
          | #{val.proto}
          | <br/> #{val.state}
        
      
  
